
@media only screen and (min-width: 768px){
 

  .Card-services-set, .Split, .Counter--set, .Card-quickjump-set{
    grid-gap: 2em;
  }
  .Hero, .Hero-minimized {
    background-position: 50%;
    padding-top: 10em;
    .HeroContent {
      .row{
        .Card-quickjump-set {
        box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.2);
        background-color: white;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        gap: 0.8em;
        .Card {
          box-shadow: none;
          border-radius: 0;
          padding-block: 1em !important;
          &:hover{
              box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.2);
          }
          a{
            text-align: center;
            display: block;
              &::after{
                top: 0em;
              }
          }
        }
      }
      }
    }
  }
    .Container-Accent-grid{
      grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }

    .Container--ContactForm{
      .Contact_form{
         width: 90vw;
  
         fieldset{

      #Ufname{
        width: 43%;
      }
      #Ulname{
        width: 50%;
    
      }
      textarea{
        width: 100% !important;
      }
      .intext{
        width: 95%;
      }
         }
      }
    }
    
.Content-WidthSmall{
  max-width: 90em;
  margin: 0 auto;
}
.grid-list{
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)) !important;
}

    .Footer{
      .FooterLinks{
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
      }
    }
  }




  @media only screen and (min-width: 780px){
    
  #TopBar{
    border-block-end: .1em inset #6695d2;
    box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.2);
    background-color:white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.33%, 1fr));
    .UpperBar{
      box-shadow: none;
      grid-column: span 2;
      border: none;
      .NavControl{
        display: none;
      }
      .TopBarLogo{
        margin: auto;
        width: 90%;
    }
    .SystemControl{
      display: none;
  }
    }
    #LowerBar{
      box-shadow: none;
      padding-inline: 0;
      background-color: unset;
      grid-column: span 10;
      height: fit-content;
      margin-block: auto;
      top: 0vh;
      overflow: visible;
      .Navigation{
        position: relative;
        .NavMenu{
          position: relative;
          .ActivePage{
            border-bottom: 2px solid  #6695d2;
          }
          span{
            padding-bottom: 1.4em;
          }
          li{ 
            display: inline;
            border-block: none;
            padding-bottom: 2.4em;
            margin-inline-end: 2em;
            i{
              width: fit-content;
              padding-inline-end: 0.5em;
            }
          }
          .NavSub{
            .SubHolder{
              #ContactSubMenu{
                left: 60%;
              }
              .NavSublist{
                border-radius: 10%;
                position: absolute;
                left: 10%;
                top: 100%;
                width: fit-content;
                li{
                  display: block;
                  height: fit-content;
                  border-block-end: 1px solid #3738399a;
                }
              }
              &:hover{
                color: #6695d2;
                .ToggleSubMenu{
                  color: #6695d2;
                }
              }
            }
          }
        }
      }
    }
    
}
  }