
@media only screen and (min-width:351px){
  .sticky{
    position:fixed;
    top:0;
    transition-duration:1s;
    z-index:999;
  }
  }
  
  .Container--ContactForm{
    .Contact_form{
       width: 90vw;

       fieldset{
        *{
          margin-inline: auto;
        }
    #Ufname{
      width: 35%;
    }
    #Ulname{
      width: 50%;
  
    }
    textarea{
      width: 100% !important;
    }
    .intext{
      width: 88%;
    }
       }
    }
  }