
@media only screen and (min-width:351px){
  .sticky{
    position:fixed;
    top:0;
    transition-duration:1s;
    z-index:999;
  }
  .Hero, .HeroImage1, .HeroImage2, .HeroImage3{
    height: 80vh;
    .HeroContent {
      width:95%;
      top: 18vh;
    }
  }
    }

    
     