
@media only screen and (min-width:768px){
  #Top-bar{
    display:none;
  }
  .Wrapper-Navigation{
    background-color:#f5f5f5;
    position:fixed;
    top:0;
    width:100%;
    z-index:1;
    .Nav-bar {
      .Navigation-Menu{
        #NavLogo, .LinkMenu{
          display:inline-block;
          width:fit-content;
        }
        #NavLogo{
          padding-inline:1rem;
          margin-block: 0.5rem;
          #Nav-LogoLink{
          display:flex;
        }
        }
        .LinkMenu {
          position: relative;
          bottom: -.8rem;
          a{
            color:#77a0cb !important;
            margin-inline:1rem;
            height: fit-content;
            overflow: hidden;
            padding-block-end: 3rem;
            &:hover{
              color:#4879b9;
              border-bottom:2px solid #77a0cb;
              background-color: #f5f5f5;
            }
            i{
              display:inline;
              padding-block:1rem;
              padding-inline-end:.5rem;
            }
          }
          .NavLinkActivePage{
            border-bottom: .2rem solid #6695d2;
          }
        }
        
    }
    } 
  }
  .Card-services-set, .Counter--set{
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
    #Hero-Section{
      background-position:50%;
      top: 50em;
    }
    }
