$HeroImage_0: url(../assets/images/Web-Large-Banner-IMG1.png);
$HeroImage_1: url(../assets/images/Web-Exta-Large-Banner-IMG2.png);
$HeroImage_2: url(../assets/images/Web-Exta-Large-Banner-IMG3.png);
$HeroImage_3: url(../assets/images/IMG_1079.JPG);
$HeroImage-Gradient: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));

html {
  font-size: 62.5%;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
}

body {
  background-attachment: fixed;
  background-clip: initial;
  background-color: initial;
  background-image: url(../assets/images/World-map.jpg);
  background-origin: initial;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto Slab, sans-serif;
  margin: 0;
  padding: 0;

  .HR_Styled {
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.3), transparent);
    border: 0;
    height: 0.1em;
    margin-block: 3em;
    margin-inline: auto;
    width: 50%;
  }
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.Content-Width, .Content-WidthSmall{
  margin-inline: auto;
  width: 90%;
}

.PageBGOpac {
  background-color: rgba(250, 250, 250, 0.9);
}

.ContentBGOPac {
  background-color: rgba(250, 250, 250, 0.5);
}

.CreamBGOpac {
  background-color: rgb(255, 248, 220, 0.3);
}

.ContentBGAccentBlue {
  background-color: rgba(31, 46, 51, 0.808);
  color: #f9f9f9;
}

.FooterBGOpac {
  background-color: #655f5f;
  border-top: 3px solid #6695d2;
}


.Buttons {
  background-color: #77a0cb;
  border-radius: 0.5em;
  border-style: none;
  color: #fff8dc;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 2.5rem;
  transition: all 0.5s;

  &:hover {
    background-color: #6695d2;
    border-radius: 1em;
    text-decoration: underline;
  }

}

.Text-Header,
.Text-Subheader,
.Text-Subtitle,
.Text-Title {
  font-family: Arial, Helvetica, sans-serif;
}

.Text-Header {
  font-size: clamp(4rem, 5vw, 5rem);
  line-height: 1.5;

  color: #655f5f;
}

.Text-Subheader {
  font-size: clamp(1.8rem, 3vw, 3rem);
  line-height: 1.5;
}

.Text-Title {
  color: #655f5f;
  font-size: clamp(3rem, 3vw, 3.5rem);
  line-height: 2;
}

.Text-Subtitle {
  font-size: clamp(1.6rem, 1vw, 2rem);
  line-height: 1.5;
}

.Text-Paragraph {
  font-size: clamp(1.5rem, 1vw, 3rem);
  line-height: 1.8;
}

.Text-Centered {
  text-align: center;
  text-justify: auto;
}

.Page-Icons {
  fill: #655f5f;
  display: block;
  margin-inline: auto;
  width: 3rem;

}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.active {
  transform: translateX(0);
  opacity: 1;
}

#Top-bar {
  background-color: #f9f9f9;
  padding-block: 0.5rem;
  width: 100%;

  a {
    margin-inline: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    #Logo-Top {
      display: block;
      margin-inline: auto;
      width: 65px;
    }
  }

}

.Wrapper-Navigation {
  background-color: #77a0cb;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;

  .Nav-bar {
    .Navigation-Menu {
      #NavLogo {
        display: none;

        #Nav-LogoLink {
          margin: 0;
          padding: 0;

          &:hover {
            cursor: pointer;
            text-decoration: none;
          }

          i {
            margin: 0;
            padding: 0;
            width: 7rem;
          }
        }

      }

      .LinkMenu {
        display: inline-block;
        margin-inline: auto;
        width: fit-content;
        display: flex;
        align-content: center;

        a {
          color: #fff8dc;
          cursor: pointer;
          display: inline-block;
          font-size: 1.4rem;
          padding-block: 0.5rem;
          padding-inline: 0.5rem;
          text-align: center;
          text-decoration: none;

          &:hover {
            background-color: #f9f9f9;
            color: #6695d2;
            text-decoration: none;
          }

          i {
            display: block;
            font-size: 2rem;
            margin-top: 0.5rem;
            text-decoration: none;
          }
        }

        .NavLinkActivePage {
          text-decoration: none;
          border-bottom: .2rem solid #f5f5f5;
        }
      }
    }
  }
}

.Container--Section {
  height: fit-content;
  padding-block: 2em;
  padding-inline: 1em;
}

.Hero,
.Hero-minimazed,
.Hero-small {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:
    $HeroImage-Gradient, $HeroImage_0;
  animation: HeroSlider 20s linear infinite;

  .HeroContent {
    position: relative;
    color: #f9f9f9;
    width: 90%;
    margin: auto;
    text-align: center;

    h1 {
      font-size: clamp(3.5rem, 6vw, 7rem);
      line-height: 1.8;
    }

    p {
      font-family: arial;
      font-size: clamp(1.8rem, 2vw, 2.5rem);
      line-height: 1.5;
    }

    button {
      margin-block-end: 1rem;
      margin-block-start: 2rem;
      margin-inline: 1em;
      padding-block: 1rem !important;
      padding-inline: 3.5rem !important;
      border-radius: 1.5em;
      box-shadow: 0 10px 20px 0 rgba(100, 100, 100, 0.2);
    }

  }

  @keyframes HeroSlider {
    25% {
      background-image:
        $HeroImage-Gradient, $HeroImage_0;
    }

    50% {
      background-image:
        $HeroImage-Gradient, $HeroImage_1;
    }

    75% {
      background-image:
        $HeroImage-Gradient, $HeroImage_2;
    }

    100% {
      background-image:
        $HeroImage-Gradient, $HeroImage_3;
    }
  }
}

.Hero-minimazed {
  background-image: $HeroImage-Gradient, $HeroImage_0  !important;
  animation: none !important;
}

#LearnMore-BTN {
  background-color: transparent;
  border: 0.15em solid #77a0cb;

  &:hover {
    background-color: #6695d2;
  }
}

.Hero-small {
  background-position: center !important;
  height: 40vh !important;
  background-image: $HeroImage_0  !important;
}

// Homepage
.Card-services-set,
.Split,
.Counter--set {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
}

.Card-services-set {
  .Card-Services {
    background-color: white;
    border-radius: .6em;
    box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.2);
    padding: 2em;

    &:hover {

      a {
        color: #77a0cb;

      }

      .Page-Icons {
        fill: #77a0cb;
      }

    }

    .LinkToService {
      color: #8b4848;
      text-decoration: none;

      &:hover {
        color: #77a0cb;
        fill: #77a0cb;
        -webkit-text-decoration: wavy;
        text-decoration: wavy;
      }
    }

    #Truck-Container {
      margin-top: 1em;
      width: 4.9em;
    }
  }
}

#OurServicesBTN {
  display: block;
  margin-block: 2.5rem;
  margin-inline: auto;
}

#Counter-Section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../assets/images/IMG_1069.JPG);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f9f9f9;
  height: fit-content;
  padding: 5rem 0;

  h1 {
    color: #ffff;
  }

  .Counter--set {
    .Counter-item {
      grid-template-columns: repeat(autofit, minmax());

      .CountNumber {
        color: #fff8dc;
        line-height: 2;
      }
    }
  }

}

.Maps {
  height: fit-content;
  position: relative;
  top: -3em;

  iframe {
    border-radius: 1em;
    width: 100%;
    margin: 0 auto;
    // padding: 5em 1em 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: whitesmoke;
  }

  .shrinked {
    height: fit-content;
  }
}

.PartnerSection {
  padding: 40px 10px;

  .PartnerIcon {
    display: inline-block;
    width: 10rem;
  }

  h1 {
    color: #f5f5f5;
  }

  .LinkToPartner {
    color: #f9f9f9;
    text-decoration: none;

    &:hover {
      color: #fff8dc;
      text-decoration: underline;
    }
  }

  #PacificOilIcon {
    width: 7.5em;
  }

}

.Container-Accent-grid {

  padding-block: 4em;
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
}


// Contact Page
.block {
  .contact_list {
    max-width: 1400px;
    margin: 0 auto;
    gap: 1em !important;

    .Card-Contacts {
      background-color: white;
      border-radius: .6em;
      box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.2);
      padding: 2em;

      i {
        color: #655f5f;
        display: block;
        font-size: 3rem;
      }

      a {
        font-size: clamp(1.6rem, 1vw, 2rem);
        line-height: 1.6;
        color: #77a0cb;
        display: block;
        text-decoration: none;

        &:hover {
          color: #8b4848;
          fill: #77a0cb;
          -webkit-text-decoration: wavy;
          text-decoration: wavy;
        }

        i {
          position: relative;
          bottom: -0.1em;
          margin-inline-end: 1em;
          color: inherit;
          display: inline;
          font-size: 2rem;
        }
      }
    }

  }
}

.Container--ContactForm {
  .Contact_form {
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    padding-block: 1.5em;

    fieldset {
      height: fit-content;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      border: none;
      padding: 1em;

      div {
        padding-block: 1em;
        max-width: 900px;

        p {
          font-size: clamp(1.6rem, 1.5vw, 3rem);
          padding-block: 2em;
        }

        * {
          font-size: clamp(1.2em, 1vw, 3em);
        }

        i {
          margin-inline: 0.1em;
          color: whitesmoke;
          font-size: 1.6em !important;
        }

        .intext {
          border-radius: 0.4em;
          border: none;
          padding-block: 1em;
          padding-inline: 1em;
          color: #888888;
        }

        textarea {
          line-height: 1.5;
          font-size: medium;
          min-height: clamp(10em, 15em, 40em);
        }

        label {
          line-height: 3;
          font-size: clamp(1.6rem, 1vw, 2.5rem);
          color: whitesmoke
        }

        input[type="radio"] {
          -webkit-appearance: none;
          appearance: none;
          background-color: rgba(255, 255, 255, 0.808);
          margin-inline: 1em;
          font: inherit;
          color: currentColor;
          width: 1.15em;
          height: 1.15em;
          border: 0.15em solid #8b4848;
          border-radius: 50%;
          transform: translateY(-0, 075em);
          place-content: center;

          &::before {
            content: "";
            width: 0.65em;
            height: 00.65em;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em #6695d2;
            background-color: rgb(223, 60, 49);
          }

          &:checked::before {
            transform: scale(1);
          }

          &:focus {
            outline: max(2px, 0.15em) solid currentColor;
            outline-offset: max(2px, 0.15em);
          }




        }
      }

      .inButton {
        float: right;
        font-size: 2rem;
      }
    }
  }
}

// Services Page
.Elmservices {
  .ServiceIntro{
    background-color: #f2f2f2;
    border-radius: 2%;
    padding: 0.5em;
    h1{
      line-height: 1.5;
      color: #000000;
    }
  }
  .ServiceTip{
    padding-block-start: 1em;
    padding-inline-start: 2em;
    i{
      color: green;
      margin-inline: 2em;
    }
  }
  .Service--Section {
    padding-block: 2em;
    &::before,
    &::after {
      content: "";
      background: #77a0cb;
      display: block;
      height: 0.1em;
    }

    .header {
      padding-block: 2em;
      * {
        display: inline;
      }
      p{
        line-height: 1;
      }
      .IcoBTN {
        position: relative;
        height: 3em;
        width: 100%;
        text-align: left;
        border: none;
        background: none;
        padding-inline: 1em;

        i {
          position: relative;
          font-size: 1.7em;
          transition: all 0.1s;
          float: inline-end;
        }
        &:hover{
          color: #8b4848;
          i{
            font-size: 2em;
          }
        }
      }
    }

    .contenu {
      display: none;
      transform: all 0.2s;
      padding-block: 1.5em;
      margin: 0 auto;
        .Roadtransport {
          background-image: url(../assets/images/IMG_1066.JPG);
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          height: 25em;
          box-shadow: rgba(27, 27, 30, 0.2) 0px 7px 20px 0px;
          border-radius: 0.5em;
          margin-block-end: 2em;
        }
        div{
          .intro{
            color: #8b4848;
          }
          .Text-Title{
            line-height: 1.5 !important;
            font-size: clamp(2.5rem, 1vw, 3rem);
            font-weight: bold;
          }

      }
      
    }
    .grid{
      display: grid;
      gap: 1em;
      padding-block: 2em;
      grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
      li{
        color: #8b4848;
        font-size: clamp(1.4rem, 1vw, 2rem);
        list-style: square;
        
      }
    }
  }
}



footer {
  color: #f9f9f9;
  height: fit-content;
  padding: 2rem 1rem;
  width: 100%;

  .Footer {
    .FooterLinks {
      display: grid;
      grid-gap: 3em;
      grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
    }
  }

  #Logo-Footer {
    display: inline-block;
    width: 150px;
  }

  a {
    color: #fff8dc;
    display: block;
    font-size: 1.6rem;
    line-height: 2;
    text-decoration: none;

    &:hover {
      color: #f9f9f9;
      text-decoration: underline;
    }
  }

  i {
    font-size: 3.5rem;
    margin: 2rem 0.5rem;
  }

  .Copywrite {
    font-size: 1.6rem;

    a {
      display: inline;
      font-size: 1.4rem;
    }
  }

  .Footer-Icons a {
    display: inline !important;
  }
}