
@media only screen and (max-width:350px){
  .Wrapper-Navigation .Content-Width{
    width:100%!important;
  }
  .sticky{
    position:fixed;
    top:0;
    transition-duration:1s;
    z-index:999;
  }
 
  }

.Container--ContactForm{
  .Contact_form{
     width: 100vw;
     fieldset{

  #Ufname{
    width: 35vw;
  }
  #Ulname{
    width: 43vw;

  }
  textarea{
    width: 93vw !important;
  }
  .intext{
    width: 81vw;
  }
     }
  }
}




  @media  only screen and ( min-width: 400px) {

    .Card-services-set, .contact_list, .Counter--set{
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  }
}
@media  only screen and ( min-width: 490px) {
  
  .Card-quickjump-set{
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }
}