
@media only screen and (min-width:351px){
  .sticky{
    position:fixed;
    top:0;
    transition-duration:1s;
    z-index:999;
  }
  .Hero{
    height: 80vh;
    .HeroContent {
      width:95%;
      top: 12vh;
    }
  }
  .Hero-minimazed{
    height: 60vh;
    animation: none !important;
    .HeroContent{
      top: 25vh !important;
    }
  }
  
  .Container--ContactForm{
    .Contact_form{
       width: 90vw;

       fieldset{
        *{
          margin-inline: auto;
        }
    #Ufname{
      width: 35%;
    }
    #Ulname{
      width: 50%;
  
    }
    textarea{
      width: 100% !important;
    }
    .intext{
      width: 88%;
    }
       }
    }
  }
    }

    @media only screen 
    and (min-width: 351px) and (max-width:500px){
      .Hero{
        .HeroContent {
          button{
            width: 70vw;
            margin-block-end: 0!important;
            
        }
      }
    }
  }
     