
@media only screen and (max-width:350px){
  .Wrapper-Navigation .Content-Width{
    width:100%!important;
  }
  .sticky{
    position:fixed;
    top:0;
    transition-duration:1s;
    z-index:999;
  }
  #Hero-Section {
    height: calc(100vh - 10em);
    .HeroContent {
      top: 15vh;
    }
  }
  }














  @media  only screen and ( min-width: 400px) {

    .Card-services-set, .Counter--set{
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  }

}
