
@media only screen and (min-width:768px){
  #Top-bar{
    display:none;
  }
  .Wrapper-Navigation{
    background-color:#f5f5f5;
    position:fixed;
    top:0;
    width:100%;
    z-index:1;
    .Nav-bar {
      .Navigation-Menu{
        #NavLogo, .LinkMenu{
          display:inline-block;
          width:fit-content;
        }
        #NavLogo{
          padding-inline:1rem;
          margin-block: 0.5rem;
          #Nav-LogoLink{
          display:flex;
        }
        }
        .LinkMenu {
          position: relative;
          bottom: -.8rem;
          a{
            color:#77a0cb !important;
            margin-inline:1rem;
            height: fit-content;
            overflow: hidden;
            padding-block-end: 3rem;
            &:hover{
              color:#4879b9;
              border-bottom:2px solid #77a0cb;
              background-color: #f5f5f5;
            }
            i{
              display:inline;
              padding-block:1rem;
              padding-inline-end:.5rem;
            }
          }
          .NavLinkActivePage{
            border-bottom: .2rem solid #6695d2;
          }
        }
        
    }
    } 
  }

  .Card-services-set, .Split, .Counter--set{
    grid-gap: 2em;
  }
  .Hero{
      background-position:50%;
      height: 95vh;
      .HeroContent {
        top: 24vh;
        button{
          width: 35vw;
          display: inline;
        }
      }
    }
    .Hero-minimazed{
      height: 90vh!important;
    }
    .Container-Accent-grid{
      grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)) !important;
    }

    .Container--ContactForm{
      .Contact_form{
         width: 90vw;
  
         fieldset{

      #Ufname{
        width: 43%;
      }
      #Ulname{
        width: 50%;
    
      }
      textarea{
        width: 100% !important;
      }
      .intext{
        width: 95%;
      }
         }
      }
    }
    
.Content-WidthSmall{
  max-width: 80em;
  margin: 0 auto;
}
.grid-list{
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)) !important;
}

    .Footer{
      .FooterLinks{
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)) !important;
      }
    }

    }

    @media only screen and (min-height:912px){
      .Hero{
        .HeroContent{
          top: 50vh !important;
        }
      }
      .Hero-minimazed{
        height: 100vh!important;
        .HeroContent{
          transform: translateY(90%) !important;
        }
      }
    }