html {
  font-size: 62.5%;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
}



.row:after {
  clear: both;
  content: "";
  display: table;
}

[class*=-grid] {
  display: grid;
  gap: 2rem;
}

body {
  background-attachment: fixed;
  background-clip: initial;
  background-color: initial;
  background-image: url(../assets/images/World-map.jpg);
  background-origin: initial;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto Slab, sans-serif;
  margin: 0;
  padding: 0;
  .HR_Styled {
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.3), transparent);
    border: 0;
    height: 1px;
    margin-inline: auto;
    margin: 20px auto;
    width: 50%;
  }
}

.Content-Width {
  margin-inline: auto;
  width: 90%;
}

.PageBGOpac {
  background-color: hsla(0deg, 0%, 98%, 0.9);
}

.ContentBGOPac {
  background-color: hsla(0deg, 0%, 98%, 0.5);
}

.ContentBGAccentBlue {
  background-color: rgba(119, 160, 203, 0.7);
  color: #f9f9f9;
}

.FooterBGOpac {
  background-color: #655f5f;
  border-top: 3px solid #6695d2;
}

#Top-bar {
  background-color: #f9f9f9;
  padding-block: 0.5rem;
  width: 100%;
  a {
    margin-inline: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    #Logo-Top {
      display: block;
      margin-inline: auto;
      width: 65px;
    }
  }
  
}

.Wrapper-Navigation {
  background-color: #77a0cb;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  .Nav-bar {
    .Navigation-Menu{
      #NavLogo {
        display: none;
        #Nav-LogoLink {
          margin: 0;
          padding: 0;
          &:hover {
            cursor: pointer;
            text-decoration: none;
          }
          i {
            margin: 0;
            padding: 0;
            width: 7rem;
          }
        }
        
      }
      .LinkMenu {
        display: inline-block;
        margin-inline: auto;
        width: fit-content;
        display: flex;
        align-content: center;
        a {
          color: #fff8dc;
          cursor: pointer;
          display: inline-block;
          font-size: 1.4rem;
          padding-block: 0.5rem;
          padding-inline: 0.5rem;
          text-align: center;
          text-decoration: none;
          &:hover {
            background-color: #f9f9f9;
            color: #6695d2;
            text-decoration: none;
          }
          i {
            display: block;
            font-size: 2rem;
            margin-top: 0.5rem;
            text-decoration: none;
          }
        }
        .NavLinkActivePage {
          text-decoration: none;
          border-bottom: .2rem solid #f5f5f5;
        }
      }
    }
  }
}

 

#Hero-Image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/Web-Large-Banner-IMG1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  .HeroContent {
    color: #f9f9f9;
    margin-inline: auto;
    padding-bottom: 3rem;
    padding-top: 15%;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    h1 {
      font-size: clamp(3.5rem, 4vw, 5rem);
    }
    p {
      font-family: arial;
      font-size: clamp(1.8rem, 2vw, 2.5rem);
      line-height: 1.5;
    }
    button {
      margin-block-end: 1rem;
      margin-block-start: 2rem;
      padding-block: 1rem !important;
      padding-inline: 3.5rem !important;
    }
  }
}

.Buttons {
  background-color: #77a0cb;
  border-radius: 5px;
  border-style: none;
  color: #fff8dc;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 2.5rem;
  &:hover {
    background-color: #6695d2;
    border-radius: 10px;
    text-decoration: underline;
  }
  
}


.Text-Header, .Text-Subheader, .Text-Subtitle, .Text-Title {
  font-family: Arial, Helvetica, sans-serif;
}

.Text-Header {
  font-size: clamp(4rem, 5vw, 5rem);
  line-height: 1.5;
}

.Text-Subheader {
  font-size: clamp(1.8rem, 3vw, 3rem);
  line-height: 1.5;
}
.Text-Title {
  font-size: clamp(3rem, 3vw, 3.5rem);
  line-height: 2;
}
.Text-Subtitle {
  font-size: clamp(2.5rem, 2vvw, 3rem);
  line-height: 1.5;
}

.Text-Paragraph {
  font-size: 2rem;
  line-height: 1.5;
}

.Text-Centered {
  text-align: center;
  text-justify: auto;
}

.Page-Icons {
  fill: #655f5f;
  display: block;
  margin-inline: auto;
  width: 3rem;
  
}


.Card-services-set{
  .Card-Services {
    overflow: hidden;
      border-radius: .6rem;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    padding-block: 2rem;
    padding-inline: 2rem;
    transition: 0.3s;
    
    .LinkToService {
      color: #655f5f;
      text-decoration: none;
      &:hover {
        color: #77a0cb;
        fill: #77a0cb;
        -webkit-text-decoration: wavy;
        text-decoration: wavy;
      }
    }
    #Truck-Container{
      margin-top: 1rem;
      width: 6rem;
    }
  }
}

#OurServicesBTN {
  display: block;
  margin-block: 2.5rem;
  margin-inline: auto;
}

#Counter-Image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../assets/images/IMG_1069.JPG);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f9f9f9;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5rem 0;
  .CountNumber {
    color: #fff8dc;
    line-height: 2;
  }
}
.PartnerSection {
  padding: 40px 10px;
  .PartnerIcon {
    display: inline-block;
    width: 10rem;
  }
  .LinkToPartner {
    color: #f9f9f9;
    text-decoration: none;
    &:hover{
      color: #fff8dc;
      text-decoration: underline;
    }
  }
  
  #PacificOilIcon {
    width: 8rem;
  }
  
}

footer {
  color: #f9f9f9;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem 1rem;
  width: 100%;
  #Logo-Footer {
    display: inline-block;
    width: 150px;
  }

  a {
    color: #fff8dc;
    display: block;
    font-size: 1.6rem;
    line-height: 2;
    text-decoration: none;
    &:hover {
      color: #f9f9f9;
      text-decoration: underline;
    }
  }
  i {
    font-size: 3.5rem;
    margin: 2rem 0.5rem;
  }
  .Copywrite{
    font-size: 1.6rem;
    a{
      display: inline;
      font-size: 1.4rem;
    }
  }
    .Footer-Icons a {
      display: inline !important;
  }
}




