@media only screen and (min-width: 351px) {
  .sticky {
    position: fixed;
    top: 0;
    transition-duration: 1s;
    z-index: 999;
  }
  #Hero-Section {
    height: 80vh;
  }
  #Hero-Section .HeroContent {
    top: 18vh;
  }
  .HeroContent {
    width: 95%;
  }
}
