@media only screen and (min-width: 768px) {
  .Card-services-set, .Split, .Counter--set, .Card-quickjump-set {
    grid-gap: 2em;
  }
  .Hero, .Hero-minimized {
    background-position: 50%;
    padding-top: 10em;
  }
  .Hero .HeroContent .row .Card-quickjump-set, .Hero-minimized .HeroContent .row .Card-quickjump-set {
    box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.2);
    background-color: white;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 0.8em;
  }
  .Hero .HeroContent .row .Card-quickjump-set .Card, .Hero-minimized .HeroContent .row .Card-quickjump-set .Card {
    box-shadow: none;
    border-radius: 0;
    padding-block: 1em !important;
  }
  .Hero .HeroContent .row .Card-quickjump-set .Card:hover, .Hero-minimized .HeroContent .row .Card-quickjump-set .Card:hover {
    box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.2);
  }
  .Hero .HeroContent .row .Card-quickjump-set .Card a, .Hero-minimized .HeroContent .row .Card-quickjump-set .Card a {
    text-align: center;
    display: block;
  }
  .Hero .HeroContent .row .Card-quickjump-set .Card a::after, .Hero-minimized .HeroContent .row .Card-quickjump-set .Card a::after {
    top: 0em;
  }
  .Container-Accent-grid {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
  .Container--ContactForm .Contact_form {
    width: 90vw;
  }
  .Container--ContactForm .Contact_form fieldset #Ufname {
    width: 43%;
  }
  .Container--ContactForm .Contact_form fieldset #Ulname {
    width: 50%;
  }
  .Container--ContactForm .Contact_form fieldset textarea {
    width: 100% !important;
  }
  .Container--ContactForm .Contact_form fieldset .intext {
    width: 95%;
  }
  .Content-WidthSmall {
    max-width: 90em;
    margin: 0 auto;
  }
  .grid-list {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)) !important;
  }
  .Footer .FooterLinks {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}
@media only screen and (min-width: 780px) {
  #TopBar {
    border-block-end: 0.1em inset #6695d2;
    box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.2);
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.33%, 1fr));
  }
  #TopBar .UpperBar {
    box-shadow: none;
    grid-column: span 2;
    border: none;
  }
  #TopBar .UpperBar .NavControl {
    display: none;
  }
  #TopBar .UpperBar .TopBarLogo {
    margin: auto;
    width: 90%;
  }
  #TopBar .UpperBar .SystemControl {
    display: none;
  }
  #TopBar #LowerBar {
    box-shadow: none;
    padding-inline: 0;
    background-color: unset;
    grid-column: span 10;
    height: fit-content;
    margin-block: auto;
    top: 0vh;
    overflow: visible;
  }
  #TopBar #LowerBar .Navigation {
    position: relative;
  }
  #TopBar #LowerBar .Navigation .NavMenu {
    position: relative;
  }
  #TopBar #LowerBar .Navigation .NavMenu .ActivePage {
    border-bottom: 2px solid #6695d2;
  }
  #TopBar #LowerBar .Navigation .NavMenu span {
    padding-bottom: 1.4em;
  }
  #TopBar #LowerBar .Navigation .NavMenu li {
    display: inline;
    border-block: none;
    padding-bottom: 2.4em;
    margin-inline-end: 2em;
  }
  #TopBar #LowerBar .Navigation .NavMenu li a, #TopBar #LowerBar .Navigation .NavMenu li span {
    font-weight: 600;
  }
  #TopBar #LowerBar .Navigation .NavMenu li i {
    width: fit-content;
    padding-inline-end: 0.5em;
  }
  #TopBar #LowerBar .Navigation .NavMenu .NavSub .SubHolder #ContactSubMenu {
    left: 60%;
  }
  #TopBar #LowerBar .Navigation .NavMenu .NavSub .SubHolder .NavSublist {
    border-radius: 10%;
    position: absolute;
    left: 10%;
    top: 100%;
    width: fit-content;
  }
  #TopBar #LowerBar .Navigation .NavMenu .NavSub .SubHolder .NavSublist li {
    display: block;
    height: fit-content;
    border-block-end: 1px solid rgba(55, 56, 57, 0.6039215686);
  }
  #TopBar #LowerBar .Navigation .NavMenu .NavSub .SubHolder:hover {
    color: #6695d2;
  }
  #TopBar #LowerBar .Navigation .NavMenu .NavSub .SubHolder:hover .ToggleSubMenu {
    color: #6695d2;
  }
}
