@charset "UTF-8";
html {
  font-size: 62.5%;
}
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
  background-clip: initial;
  background-color: initial;
  background-image: url(../assets/images/World-map.jpg);
  background-origin: initial;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto Slab, sans-serif;
  margin: 0;
  padding: 0;
}
body .HR_Styled {
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.3), transparent);
  border: 0;
  height: 0.1em;
  margin-block: 3em;
  margin-inline: auto;
  width: 50%;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.Content-Width, .Content-WidthSmall {
  margin-inline: auto;
  width: 90%;
}

.PageBGOpac {
  background-color: rgba(250, 250, 250, 0.9);
}

.ContentBGOPac {
  background-color: rgba(250, 250, 250, 0.5);
}

.CreamBGOpac {
  background-color: rgba(255, 248, 220, 0.3);
}

.ContentBGAccentBlue {
  background-color: rgba(31, 46, 51, 0.8);
  color: rgb(255, 255, 255);
}

.FooterBGOpac {
  background-color: rgb(101, 95, 95);
  border-top: 3px solid rgb(255, 255, 255);
}

.Buttons {
  background-color: rgb(50, 115, 201);
  border-radius: 0.2em;
  border-style: none;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: all 0.3s;
  box-shadow: 0 1px 10px 1px rgba(67, 106, 145, 0.26);
}
.Buttons:hover {
  background-color: rgb(94, 146, 201);
  border-radius: 0.5em;
  text-decoration: underline;
}

.Text-Header,
.Text-Subheader,
.Text-Subtitle,
.Text-Title {
  font-family: Arial, Helvetica, sans-serif;
}

.Text-Header {
  font-size: clamp(4rem, 5vw, 5rem);
  line-height: 1.5;
  color: rgb(101, 95, 95);
}

.Text-Subheader {
  font-size: clamp(1.8rem, 3vw, 3rem);
  line-height: 1.5;
}

.Text-Title {
  color: rgb(101, 95, 95);
  font-size: clamp(3rem, 3vw, 3.5rem);
  line-height: 2;
}

.Text-Subtitle {
  font-size: clamp(1.6rem, 1vw, 2rem);
  line-height: 1.5;
}

.Text-Paragraph {
  font-size: clamp(1.5rem, 1vw, 3rem);
  line-height: 1.8;
}

.Text-Centered {
  text-align: center;
  text-justify: auto;
}

.Page-Icons {
  fill: rgb(101, 95, 95);
  display: block;
  margin-inline: auto;
  width: 3rem;
}

.active {
  transform: translateX(0);
  opacity: 1;
}

#TopBar {
  position: fixed;
  z-index: 1;
  width: 100%;
}
#TopBar .UpperBar {
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.2);
  border-bottom: rgb(94, 146, 201) inset 1px;
  width: 100%;
  padding-inline: 1.5em;
  display: flex;
  align-items: center;
}
#TopBar .UpperBar .NavControl {
  width: 20%;
  padding-top: 0.8em;
}
#TopBar .UpperBar .NavControl .Container-- {
  cursor: pointer;
}
#TopBar .UpperBar .NavControl .Container-- .bar1, #TopBar .UpperBar .NavControl .Container-- .bar2, #TopBar .UpperBar .NavControl .Container-- .bar3 {
  background: rgb(94, 146, 201);
  width: 3em;
  border-radius: 15%;
  height: 0.4em;
  margin: 4px 0;
  transition: all 0.4s;
}
#TopBar .UpperBar .NavControl .changeNavMenuToggle .bar1 {
  transform: translate(0, 0.8em) rotate(45deg);
}
#TopBar .UpperBar .NavControl .changeNavMenuToggle .bar2 {
  opacity: 0;
}
#TopBar .UpperBar .NavControl .changeNavMenuToggle .bar3 {
  transform: translate(0, -0.8em) rotate(-45deg);
}
#TopBar .UpperBar .TopBarLogo {
  width: 60%;
}
#TopBar .UpperBar .TopBarLogo .LogoTopBar {
  padding-block: 0.3em;
  width: 10em;
  display: block;
  margin-inline: auto;
  transition: 0.2s;
}
#TopBar .UpperBar .SystemControl {
  width: 20%;
}
#TopBar .UpperBar .SystemControl .Container-- {
  cursor: pointer;
}
#TopBar .UpperBar .SystemControl .LangDropDown {
  float: right;
  background-image: url(../assets/images/fr.png);
  width: 3em;
  height: 2.5em;
  background-repeat: no-repeat;
  background-size: cover;
  margin-block: auto;
}
#TopBar #LowerBar {
  box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.2);
  background-color: rgb(248, 248, 248);
  position: relative;
  top: -100vh;
  padding: 2em;
  width: 100%;
  max-height: 90vh;
  overflow: scroll;
  margin-inline: auto;
}
#TopBar #LowerBar .Navigation .NavMenu li {
  list-style: none;
  padding-block: 1em;
  border-block-end: 1px solid rgb(139, 72, 72);
}
#TopBar #LowerBar .Navigation .NavMenu a, #TopBar #LowerBar .Navigation .NavMenu span {
  cursor: pointer;
  text-decoration: none;
  color: #655f5f;
  font-size: 1.6rem;
  line-height: 1.6;
}
#TopBar #LowerBar .Navigation .NavMenu i {
  color: rgb(94, 146, 201);
  font-size: 1.5rem;
}
#TopBar #LowerBar .Navigation .NavMenu a:hover {
  color: rgb(94, 146, 201);
  text-decoration: underline;
}
#TopBar #LowerBar .Navigation .NavMenu .NavList .NavSub .SubHolder {
  color: rgb(139, 72, 72);
}
#TopBar #LowerBar .Navigation .NavMenu .NavList .NavSub .SubHolder .ToggleSubMenu {
  color: rgb(139, 72, 72);
}
#TopBar #LowerBar .Navigation .NavMenu .NavList .NavSub .SubHolder li {
  background-color: rgb(242, 242, 242);
  padding: 1em;
}
#TopBar #LowerBar .Navigation .NavMenu .NavList .NavSub .SubHolder li:last-child {
  border-block: none;
}
#TopBar #LowerBar .Navigation .NavMenu .NavList .NavSub .NavSublist {
  display: none;
}
#TopBar #LowerBar .Navigation .NavMenu .NavList .NavSub .changeSubmenuShow {
  display: block;
}
#TopBar #LowerBar .Navigation .NavMenu .NavList .NavSub li {
  margin-left: 0.5em;
}
#TopBar .changeMenuShow {
  display: block !important;
  top: 0vh !important;
}

.Container--Section {
  height: fit-content;
  padding-block: 2em;
  padding-inline: 1em;
}

.Hero,
.Hero-minimized,
.Hero-small {
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 5em;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(../assets/images/Web-Large-Banner-IMG1.png);
}
.Hero .HeroContent,
.Hero-minimized .HeroContent,
.Hero-small .HeroContent {
  top: 10em;
  position: relative;
}
.Hero .HeroContent .row,
.Hero-minimized .HeroContent .row,
.Hero-small .HeroContent .row {
  padding-block-end: 2em;
}
.Hero .HeroContent .row h1, .Hero .HeroContent .row p, .Hero .HeroContent .row h2,
.Hero-minimized .HeroContent .row h1,
.Hero-minimized .HeroContent .row p,
.Hero-minimized .HeroContent .row h2,
.Hero-small .HeroContent .row h1,
.Hero-small .HeroContent .row p,
.Hero-small .HeroContent .row h2 {
  color: #f2f2f2;
}
.Hero .HeroContent .row form,
.Hero-minimized .HeroContent .row form,
.Hero-small .HeroContent .row form {
  padding: 3em 0;
  margin-inline: auto;
  max-width: 50em;
}
.Hero .HeroContent .row form label,
.Hero-minimized .HeroContent .row form label,
.Hero-small .HeroContent .row form label {
  display: block;
  color: #f5f5f5;
  font-size: clamp(2rem, 2vw, 3rem);
  font-weight: 700;
  line-height: 2;
}
.Hero .HeroContent .row form div,
.Hero-minimized .HeroContent .row form div,
.Hero-small .HeroContent .row form div {
  display: flex;
  overflow: hidden;
  height: fit-content;
  background-color: #f5f5f5;
  border-radius: 0.4em;
  border: 0.1em solid #f2f2f2;
}
.Hero .HeroContent .row form div input[type=text],
.Hero-minimized .HeroContent .row form div input[type=text],
.Hero-small .HeroContent .row form div input[type=text] {
  border: none;
  font-size: medium;
  padding-inline: 1em;
  line-height: 2.5;
  color: #888888;
  width: 75%;
}
.Hero .HeroContent .row form div button,
.Hero-minimized .HeroContent .row form div button,
.Hero-small .HeroContent .row form div button {
  width: 25%;
  padding: 0;
  border-radius: 0;
}
.Hero .HeroContent .row .Card-quickjump-set,
.Hero-minimized .HeroContent .row .Card-quickjump-set,
.Hero-small .HeroContent .row .Card-quickjump-set {
  display: grid;
  max-width: 60em;
  margin-inline: auto;
  position: relative;
  gap: 1.5em;
}
.Hero .HeroContent .row .Card-quickjump-set .Card,
.Hero-minimized .HeroContent .row .Card-quickjump-set .Card,
.Hero-small .HeroContent .row .Card-quickjump-set .Card {
  padding: 2em;
  background-color: rgb(255, 255, 255);
  border-radius: 0.6em;
  box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.2);
}
.Hero .HeroContent .row .Card-quickjump-set .Card a,
.Hero-minimized .HeroContent .row .Card-quickjump-set .Card a,
.Hero-small .HeroContent .row .Card-quickjump-set .Card a {
  display: flex;
  color: rgb(101, 95, 95);
  text-decoration: none;
}
.Hero .HeroContent .row .Card-quickjump-set .Card a .Container,
.Hero-minimized .HeroContent .row .Card-quickjump-set .Card a .Container,
.Hero-small .HeroContent .row .Card-quickjump-set .Card a .Container {
  display: inline;
  padding-inline: 0.4em;
}
.Hero .HeroContent .row .Card-quickjump-set .Card a h2,
.Hero-minimized .HeroContent .row .Card-quickjump-set .Card a h2,
.Hero-small .HeroContent .row .Card-quickjump-set .Card a h2 {
  color: rgb(50, 115, 201);
  font-weight: 800;
}
.Hero .HeroContent .row .Card-quickjump-set .Card a span,
.Hero-minimized .HeroContent .row .Card-quickjump-set .Card a span,
.Hero-small .HeroContent .row .Card-quickjump-set .Card a span {
  font-size: 1.4rem;
}
.Hero .HeroContent .row .Card-quickjump-set .Card a i,
.Hero-minimized .HeroContent .row .Card-quickjump-set .Card a i,
.Hero-small .HeroContent .row .Card-quickjump-set .Card a i {
  font-size: 2.4rem;
  color: rgb(139, 72, 72);
  fill: rgb(139, 72, 72);
}
.Hero .HeroContent .row .Card-quickjump-set .Card a::after,
.Hero-minimized .HeroContent .row .Card-quickjump-set .Card a::after,
.Hero-small .HeroContent .row .Card-quickjump-set .Card a::after {
  content: "❯";
  top: 1.1em;
  font-size: large;
  position: relative;
  color: rgb(139, 72, 72);
  font-weight: bold;
}
.Hero .HeroContent .row .Card-quickjump-set .Card a:hover span,
.Hero-minimized .HeroContent .row .Card-quickjump-set .Card a:hover span,
.Hero-small .HeroContent .row .Card-quickjump-set .Card a:hover span {
  text-decoration: underline;
  color: rgb(139, 72, 72);
}

.Hero-minimazed {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(../assets/images/Web-Exta-Large-Banner-IMG2.png) !important;
}

.Hero-small {
  background-position: center !important;
  background-image: url(../assets/images/Web-Exta-Large-Banner-IMG2.png) !important;
}

.Card-services-set,
.Split,
.Counter--set {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
}

.Card-services-set {
  max-width: 600px;
}
.Card-services-set .Card-Services {
  background-color: rgb(255, 255, 255);
  border-radius: 0.6em;
  box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.2);
  padding: 2em;
}
.Card-services-set .Card-Services:hover a {
  color: rgb(94, 146, 201);
}
.Card-services-set .Card-Services:hover .Page-Icons {
  fill: rgb(94, 146, 201);
}
.Card-services-set .Card-Services .LinkToService {
  color: rgb(94, 146, 201);
  text-decoration: none;
}
.Card-services-set .Card-Services .LinkToService:hover {
  color: rgb(94, 146, 201);
  fill: rgb(94, 146, 201);
  -webkit-text-decoration: wavy;
  text-decoration: wavy;
}
.Card-services-set .Card-Services #Truck-Container {
  margin-top: 1em;
  width: 4.9em;
}

#OurServicesBTN {
  display: block;
  margin-block: 2.5rem;
  margin-inline: auto;
}

#Counter-Section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../assets/images/IMG_1069.JPG);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(248, 248, 248);
  height: fit-content;
  padding: 5rem 0;
}
#Counter-Section h1 {
  color: rgb(255, 255, 255);
}
#Counter-Section .Counter--set .Counter-item {
  grid-template-columns: repeat(autofit, minmax());
}
#Counter-Section .Counter--set .Counter-item .CountNumber {
  color: rgb(255, 248, 220);
  line-height: 2;
}

.Maps {
  height: fit-content;
  position: relative;
  top: -3em;
}
.Maps iframe {
  border-radius: 1em;
  width: 100%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(248, 248, 248);
}
.Maps .shrinked {
  height: fit-content;
}

.PartnerSection {
  padding: 40px 10px;
}
.PartnerSection .PartnerIcon {
  display: inline-block;
  width: 10rem;
}
.PartnerSection h1 {
  color: rgb(255, 255, 255);
}
.PartnerSection .LinkToPartner {
  color: rgb(248, 248, 248);
  text-decoration: none;
}
.PartnerSection .LinkToPartner:hover {
  color: rgb(255, 248, 220);
  text-decoration: underline;
}
.PartnerSection #PacificOilIcon {
  width: 7.5em;
}

.Container-Accent-grid {
  padding-block: 4em;
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
}

.block .contact_list {
  max-width: 1400px;
  margin: 0 auto;
  gap: 1em !important;
}
.block .contact_list .Card-Contacts {
  background-color: rgb(255, 255, 255);
  border-radius: 0.6em;
  box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.2);
  padding: 2em;
  height: 18em;
}
.block .contact_list .Card-Contacts i {
  color: #655f5f;
  display: block;
  font-size: 3rem;
}
.block .contact_list .Card-Contacts a {
  font-size: clamp(1.6rem, 1vw, 2rem);
  line-height: 1.6;
  color: rgb(94, 146, 201);
  display: block;
  text-decoration: none;
}
.block .contact_list .Card-Contacts a:hover {
  color: #8b4848;
  fill: rgb(94, 146, 201);
}
.block .contact_list .Card-Contacts a i {
  position: relative;
  bottom: -0.1em;
  margin-inline-end: 1em;
  color: inherit;
  display: inline;
  font-size: 2rem;
}

.Container--ContactForm .Contact_form {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  padding-block: 1.5em;
}
.Container--ContactForm .Contact_form fieldset {
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  padding: 1em;
}
.Container--ContactForm .Contact_form fieldset div {
  padding-block: 1em;
  max-width: 900px;
}
.Container--ContactForm .Contact_form fieldset div p {
  font-size: clamp(1.6rem, 1.5vw, 3rem);
  padding-block: 2em;
}
.Container--ContactForm .Contact_form fieldset div * {
  font-size: clamp(1.2em, 1vw, 3em);
}
.Container--ContactForm .Contact_form fieldset div i {
  margin-inline: 0.1em;
  color: rgb(248, 248, 248);
  font-size: 1.6em !important;
}
.Container--ContactForm .Contact_form fieldset div .intext {
  border-radius: 0.4em;
  border: none;
  padding-block: 1em;
  padding-inline: 1em;
  color: rgb(101, 95, 95);
}
.Container--ContactForm .Contact_form fieldset div textarea {
  line-height: 1.5;
  font-size: medium;
  min-height: 15em;
}
.Container--ContactForm .Contact_form fieldset div label {
  line-height: 3;
  font-size: clamp(1.6rem, 1vw, 2.5rem);
  color: rgb(248, 248, 248);
}
.Container--ContactForm .Contact_form fieldset div input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.808);
  margin-inline: 1em;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #8b4848;
  border-radius: 50%;
  transform: translateY(0, 75em);
  place-content: center;
}
.Container--ContactForm .Contact_form fieldset div input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #6695d2;
  background-color: rgb(223, 60, 49);
}
.Container--ContactForm .Contact_form fieldset div input[type=radio]:checked::before {
  transform: scale(1);
}
.Container--ContactForm .Contact_form fieldset div input[type=radio]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
.Container--ContactForm .Contact_form fieldset .inButton {
  float: right;
}

.Elmservices .Services {
  padding-block: 1em;
}
.Elmservices .ServiceIntro {
  background-color: #f2f2f2;
  border-radius: 2%;
  padding: 0.5em;
}
.Elmservices .ServiceIntro h1 {
  line-height: 1.5;
  color: #000000;
}
.Elmservices .ServiceTip {
  display: flex;
  padding-inline-start: 1em;
  padding-block: 1em;
}
.Elmservices .ServiceTip li {
  padding-left: 1em;
  list-style: none;
}
.Elmservices .ServiceTip li::before {
  content: "🗸";
  color: green;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  position: relative;
}
.Elmservices .Roadtransport, .Elmservices .Wharehousing, .Elmservices .Handling {
  background-image: url(../assets/images/IMG_1066.JPG);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  box-shadow: rgba(27, 27, 30, 0.2) 0px 7px 20px 0px;
  border-radius: 0.5em;
  margin-block-end: 2em;
}
.Elmservices .Wharehousing {
  background-image: url(../assets/images/World-map.jpg);
}
.Elmservices .Handling {
  background-image: url(../assets/images/handling.jpg);
}
.Elmservices .Service--Section {
  padding-block: 2em;
}
.Elmservices .Service--Section::before, .Elmservices .Service--Section::after {
  content: "";
  width: 100%;
  height: 0.1em;
  background: #55608f;
  display: block;
}
.Elmservices .Service--Section:hover::before, .Elmservices .Service--Section:hover::after {
  background: rgb(139, 72, 72);
}
.Elmservices .Shrinked {
  padding-block: 0.8em;
}
.Elmservices .Shrinked * {
  display: inline;
}
.Elmservices .Shrinked p {
  line-height: 1;
}
.Elmservices .Shrinked .IcoBTN {
  position: relative;
  height: 3em;
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  padding-inline: 1em;
  color: #55608f;
}
.Elmservices .Shrinked .IcoBTN i {
  position: relative;
  font-size: 1.7em;
  transition: all 0.1s;
  float: inline-end;
}
.Elmservices .Shrinked .IcoBTN:hover {
  color: rgb(139, 72, 72);
}
.Elmservices .Shrinked .IcoBTN:hover i {
  font-size: 2em;
}
.Elmservices .intro {
  color: rgb(139, 72, 72);
}
.Elmservices .Text-Title {
  line-height: 1.5 !important;
  font-size: clamp(2.5rem, 1vw, 3rem);
  font-weight: bold;
}
.Elmservices .contenu {
  transform: all 0.2s;
  padding-block: 1.5em;
  margin: 0 auto;
}
.Elmservices .contenu .grid-list {
  display: grid;
  gap: 1em;
  padding-block: 4em;
  grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
}
.Elmservices .contenu .grid-list li {
  margin-inline-start: 2em;
  font-size: clamp(1.4rem, 1vw, 2rem);
  list-style: none;
}
.Elmservices .contenu .grid-list li::before {
  content: "■";
  color: rgb(139, 72, 72);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  position: relative;
}
.Elmservices .contenu .legende {
  padding-block: 1em;
}
.Elmservices .contenu .legende span {
  margin-inline-end: 0.5em;
}
.Elmservices .contenu .legende span #legendCheck::before, .Elmservices .contenu .legende span #legendCross::before {
  content: "🗸";
  color: green;
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  margin-left: -1em;
  position: relative;
}
.Elmservices .contenu .legende span #legendCross::before {
  content: "✗" !important;
  color: rgb(139, 72, 72);
}
.Elmservices .contenu .legende div {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: scroll;
}
.Elmservices .contenu .legende div table {
  width: 100%;
  overflow: scroll;
  border-collapse: collapse;
  overflow: hidden;
}
.Elmservices .contenu .legende div table th,
.Elmservices .contenu .legende div table td {
  padding: 1em;
  background-color: rgb(248, 248, 248);
  color: rgb(38, 38, 38);
}
.Elmservices .contenu .legende div table th {
  text-align: left;
  color: #f2f2f2;
}
.Elmservices .contenu .legende div table thead th {
  background-color: #55608f;
}
.Elmservices .contenu .legende div table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.Elmservices .contenu .legende div table tbody td {
  position: relative;
}
.Elmservices .contenu .legende div table tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: white;
  z-index: -1;
}

.WhyUs {
  padding-bottom: 2em;
}
.WhyUs h1 {
  line-height: 1.5 !important;
  color: #000000;
}
.WhyUs .imgWhyUs {
  max-width: 90em;
  margin-inline: auto;
  margin-block-start: 1em;
  margin-block-end: 3em;
  background-image: url(../assets/images/IMG_1093.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 30em;
  box-shadow: rgba(27, 27, 30, 0.2) 0px 7px 20px 0px;
}
.WhyUs li {
  padding: 0.5em 1em;
  font-size: clamp(1.4rem, 1vw, 2rem);
  list-style: none;
}
.WhyUs li::before {
  content: "■";
  color: rgb(139, 72, 72);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  position: relative;
  top: -0.1em;
}

.Hidden {
  display: none;
}

.Shown {
  display: block;
}

footer {
  color: #f9f9f9;
  height: fit-content;
  padding: 2rem 1rem;
  width: 100%;
}
footer .Footer .FooterLinks {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fit, min-max(90%, 1fr));
}
footer #Logo-Footer {
  display: inline-block;
  width: 150px;
}
footer a {
  color: #fff8dc;
  display: block;
  font-size: 1.6rem;
  line-height: 3;
  text-decoration: none;
}
footer a:hover {
  color: #f9f9f9;
  text-decoration: underline;
}
footer i {
  font-size: 3.5rem;
  margin: 2rem 0.6em;
}
footer .Copywrite {
  font-size: 1.6rem;
}
footer .Copywrite a {
  display: inline;
  font-size: 1.4rem;
}
footer .Footer-Icons a {
  display: inline !important;
}
