@media only screen and (min-width: 768px) {
  #Top-bar {
    display: none;
  }
  .Wrapper-Navigation {
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .Wrapper-Navigation .Nav-bar .Navigation-Menu #NavLogo, .Wrapper-Navigation .Nav-bar .Navigation-Menu .LinkMenu {
    display: inline-block;
    width: fit-content;
  }
  .Wrapper-Navigation .Nav-bar .Navigation-Menu #NavLogo {
    padding-inline: 1rem;
    margin-block: 0.5rem;
  }
  .Wrapper-Navigation .Nav-bar .Navigation-Menu #NavLogo #Nav-LogoLink {
    display: flex;
  }
  .Wrapper-Navigation .Nav-bar .Navigation-Menu .LinkMenu {
    position: relative;
    bottom: -0.8rem;
  }
  .Wrapper-Navigation .Nav-bar .Navigation-Menu .LinkMenu a {
    color: #77a0cb !important;
    margin-inline: 1rem;
    height: fit-content;
    overflow: hidden;
    padding-block-end: 3rem;
  }
  .Wrapper-Navigation .Nav-bar .Navigation-Menu .LinkMenu a:hover {
    color: #4879b9;
    border-bottom: 2px solid #77a0cb;
    background-color: #f5f5f5;
  }
  .Wrapper-Navigation .Nav-bar .Navigation-Menu .LinkMenu a i {
    display: inline;
    padding-block: 1rem;
    padding-inline-end: 0.5rem;
  }
  .Wrapper-Navigation .Nav-bar .Navigation-Menu .LinkMenu .NavLinkActivePage {
    border-bottom: 0.2rem solid #6695d2;
  }
  .Card-services-set, .Split, .Counter--set {
    grid-gap: 2em;
  }
  .Hero {
    background-position: 50%;
    height: 95vh;
  }
  .Hero .HeroContent {
    top: 24vh;
  }
  .Hero .HeroContent button {
    width: 35vw;
    display: inline;
  }
  .Hero-minimazed {
    height: 90vh !important;
  }
  .Container-Accent-grid {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)) !important;
  }
  .Container--ContactForm .Contact_form {
    width: 90vw;
  }
  .Container--ContactForm .Contact_form fieldset #Ufname {
    width: 43%;
  }
  .Container--ContactForm .Contact_form fieldset #Ulname {
    width: 50%;
  }
  .Container--ContactForm .Contact_form fieldset textarea {
    width: 100% !important;
  }
  .Container--ContactForm .Contact_form fieldset .intext {
    width: 95%;
  }
  .Footer .FooterLinks {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)) !important;
  }
}
@media only screen and (min-height: 912px) {
  .Hero .HeroContent {
    top: 50vh !important;
  }
  .Hero-minimazed {
    height: 100vh !important;
  }
  .Hero-minimazed .HeroContent {
    transform: translateY(90%) !important;
  }
}
